body{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding:0;
}

.content{
  margin-top: 4rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.07);
  padding: 2rem;
}

.container{
  display:flex;
  justify-content:center;
  align-content: center;
  flex-wrap:wrap;
  width:100vw;
}

.logo{
  margin-top:3rem;
  max-width:100px;
  border-radius: 10px;
  box-shadow: 0px 7px 15px rgba(0,0,0,0.2);
}

.heading{
  height:15rem;
}

.nav-title{
  font-size:6vmax;
}

.nav-links{
  display:flex;
  justify-content:flex-end;
  align-content:center;
  margin:1rem;
}

.center{
  text-align:center;
}

.button-nav{
  padding-top: 0;
  font-style: oblique;
  font-size: 2rem;
  border-radius: 4px;
  text-shadow: 1px 3px 0px rgba(141, 141, 141, 0.32);
  box-shadow: 0px 10px 0px rbga(0, 0, 0, 0.5);
  box-shadow: inset 0px 6px 0 0px rgba(0, 0, 0, 0.09);
  margin-bottom: -2rem;
  background: rgba(0, 0, 0, 0.03);
  border: none;
  padding:1rem;
  margin:1rem;
  filter: contrast(100%);
}
.button-nav:hover{
  filter:blur(1px);
}

.button-content{
  padding-top: 0;
  color:white;
  font-style: oblique;
  font-size: 2rem;
  border-radius: 4px;
  text-shadow: 1px 3px 0px rgba(141, 141, 141, 0.32);
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 6px 0 0px rgba(0, 0, 0, 0.09);
  margin-bottom: -2rem;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  padding:1rem;
  margin:1rem;
  filter: contrast(100%);
}
.button-content:hover{
  filter:blur(1px);
}

a{
  color:white;
}

a:hover, a:focus{
  color:white;
  text-decoration: none;
}

.add{
  margin-top:1.5rem;
}
